body {
    background-color: aliceblue;
    font: normal 23px Arial;
}

header {
 text-align: center
}

section {
    background: rgb(240, 239, 239);
    border-radius: 10px;
    padding: 15px;
    width: 530px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    height: auto;
}

footer {
    text-align: center;
    font-style: italic;
}
select {
    width: 200px;
}
